
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: black;
  background-color: white;
}

/* main { */
  /* padding: 10px; */
/* } */


#hero {
  background-color: #0097A7;
  color: white;
  text-align: center;
  padding: 50px 20px;
}

#hero img {
  max-height: 250px;
  height: auto;
  width: auto;
}

#hero h1 {
  margin: 0;
  font-size: 2.5em;
}

#hero p {
  font-size: 1.2em;
}

button {
  background-color: #FFBF1B;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #e6a917;
}

/* General Styles for Sections */
section {
  padding: 40px 20px;
  /* text-align: center; */
}


h2 {
  color: #0097A7;
  margin-bottom: 20px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px 0;
}

h2 {
  color: #0097A7;
  margin-bottom: 20px;
}

/* Styles for How It Works Section */
#how-it-works .step-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

#how-it-works .step {
  flex-basis: 30%;
  min-width: 250px;
  max-width: 350px;
}

.step-icon, .feature-icon, .testimonial-item {
  margin-bottom: 15px;
}

/* Styles for Features Highlight Section */
#features .features-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

#features .feature-item {
  flex-basis: 30%;
  min-width: 250px;
  max-width: 350px;
}

/* Styles for Testimonials Section */
#testimonials .testimonials-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

#testimonials .testimonial-item {
  flex-basis: 30%;
  min-width: 250px;
  max-width: 350px;
  border: 1px solid #ddd;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
}

.testimonial-text {
  font-style: italic;
}

.testimonial-author {
  margin-top: 15px;
  font-weight: bold;
}

span {
  display: block;
  font-size: 0.8em;
  color: #666;
}

.btn {
  background-color: #FFBF1B;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  text-decoration: none; /* Removes underline from links */
  display: inline-block; /* Allows padding and height */
  cursor: pointer;
}

.btn:hover {
  background-color: #e6a917;
}
